
<div align="center" class="my-4">
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;" align="center">
  <div class="card-header">ログイン</div>
  <div class="card-body">
    <p class="card-text">

    <table class="my-4">
<tr>
<td>
<p>名前</p>
</td>
<td>
<input type="text">
</td>
</tr>
<tr>
<td>
<p>password</p>
</td>
<td>
<input type="text">
</td>
</tr>

  </table>

  <p>アカウントをお持ちでない方は</p>
  <p>sign in</p>
       <button type="button" class="btn btn-outline-light btn-lg" onClick="location.href='/users'">戻る</button>
    <button type="button" class="btn btn-outline-light btn-lg" onClick="location.href='/users'">ログイン</button>
    </p>
  </div>
</div>
</div>


