// Place all the styles related to the Tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bg_test {
    padding: 80px 80px; 
    background-image: url(beach.jpg);
}

.mrgA{
    margin:40px 0;
}

.bodyA {
  padding-top: 50px;
  position: relative;
}

